

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title> Register new Account </title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <link rel="icon" href="favicon.png">
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>

        <button class="icon-button" id="dark-button" onclick="toggleDark()">  
            <img src="/svg/moon.svg" style="width: 2em"/> </button>
        <main>
            <h1 class="graveller"> Graveller </h1>
            <h2> The gamified to-do list </h2>
            <section class="main-content rounded">
                <h2>Register Form</h2>
                <form id="registerForm">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="textinput"><br>

                    <label for="password">Password:</label>
                    <input required type="password" id="password" name="password" class="textinput"><br>

                    <label for="confirm-password">Confirm Password:</label>
                    <input required type="password" id="confirm-password" name="confirm-password" class="textinput"><br>


                    <button type="submit" class="login-button">Register</button>
                </form>
                <a href="/login"> Already have an account? log in! </a>
                <p id="errorMessage"> </p>
            </section>

        </main>


    </body>
    <script src="/js/light.js"></script>
    <script src="/js/register.js"></script>
</html>
