body {
    font-family: Arial, sans-serif;
    color: #575279;
}
html,body { 
    height:100%; 
    margin: 0;
    background-color: #faf4ed;
}

.heading {
    /*background-color: #faf4ed;*/
    background-color: #fffaf3;
    padding: 0.2em 1em;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 8vh;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1, h2 {
    font-size: 1.7em;
    font-family: Georgia, serif;
    margin: 0.7em;

}

.rounded {
    box-shadow: -1px 1px 12px -5px rgba(0,0,0,0.75);
    border-radius: 0.5em;
}
.rounded:hover {
    box-shadow: -1px 1px 20px -5px rgba(0,0,0,0.75);
}
#balance {
    font-size: 1.7em;
    font-family: Georgia, serif;
    margin: 0.7em;
}

.content-primary {
    /*background-color: green;*/
    display: flex;
    width: 90%;
    height: 92vh;
}

.button-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.non-tasks {
    margin: 0.7em;
    flex: 1 1 0;
    max-width: 50%;
    display: flex;
    flex-direction: column;

}



.footer {
    background-color: cyan;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}


.textinput {
    background-color: inherit;
    color: inherit;
    border: none;
    border-bottom: dotted;
    border-width: 2px;
    border-color: #575279;
}
.dark-input {
    border-color: #faf4ed;
}
.textinput:hover {
    border-bottom: solid;
}
.textinput:focus {
    background-color: #cecacd;
    border-bottom: solid;
    outline:none;
}
.dark-input:focus {
    background-color: #286983;
    border-bottom: solid;
    outline:none
}
#taskForm, #rewardForm {
    background-color: #f2e9e1; 
    padding: 1em;
    width: 50%;
    margin: 15% auto;
}

.popup {
    display: none;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.new-task-button {
    /*width: 40vw;*/
    width: 90%;
    max-width: 90%;

    height: 5vh;
    margin: 0% 5%;
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dot-button { 
    background-color: #f2e9e1; 
    border: dotted;
    border-width: 2px;
    border-color: #575279;
}

.dot-button:hover {
    background-color: #dfdad9;
    border: solid;
}

.title-input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    width: 100%;
    padding-bottom: 0;
}

.long-input {
    border-style: dotted;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    width: 100%;
    height:30%;
}

long-input:hover {
    border-style: solid;
}

.error-message {
    color: #b4637a;
}

#account-display {
    background-color: #f2e9e1; 

    padding: 1em;
    width: 20vw;
    margin: 15% auto;
}

.stats {
    background-color: #fffaf3;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;*/
    flex: 1 1 auto;
}
.rewards {
    background-color: #fffaf3;
    height: 70%;
    width: 100%;
    max-width: 100%;
    max-height: 70%;
    margin-top: 0.7em;
}

.task-preview {
    background-color: #fffaf3;
    /*
    border: solid;
    border-width: 1px;
    border-color: #575279;
    */
    margin: 0.7em;
    /*display: flex;*/
    /*flex-direction: column;*/
    flex: 1 1 0;
}
.tabs {
    width: 90%;
    display: flex;
}
.tab-button {
    flex-grow: 1;
}
#rewardForm {
    background-color: #286983;
    color: #faf4ed;
}

@media (min-height: 800px) {
    .new-task-button-mini {
        display: none;
    }
}
@media (max-height: 800px) {
    .new-task-button {
        display: none;
    }
}
@media (max-height: 800px) {
    .heading {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .tabs {
        display: none;
    }
}
@media (max-width: 768px) {
    .task-preview {
        width: 100%;
        max-width: 100%;
    }
    .tab-hidden {
        display: none;
    }
    .non-tasks {
        max-width: 100%;
    }
    .rewards {
        max-height: 100%;
        height: 100%;
    }
    .stats {
        justify-content: flex-start;
    }
}
