

.reward-click {
    background-color: #286983;
    display: flex;
    /*background-color: inherit;*/
    height: 10%;
}
.reward-expensive {
    background-color: #f2e9e1; 
}
.reward-click:hover {
    background-color: #907aa9;
}

.reward-text {
    color: #faf4ed;
}
.reward-completions {
    font-size: 5vh;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #faf4edaa;
}
.reward-text-light {
    color: #575279aa;
}
.trophy-img {
    width: 5%;
}
.reward-li {
    height: 100%;
}
#rewardlist {
    overflow-y: scroll;
    max-height: 70%;
}


@media (max-width: 768px) {
    #rewardlist {
        max-height: 100%;
    }
}
