
.bar-chart {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 0em;
    margin: 0;
    height: 70%;
}
.bar-container {
    height: 100%;

    margin-left: 1%;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

}

.stats {
    background-color: #fffaf3;
    flex: 1 1 auto;
}
.bar {
    background-color: #b4637a;

    width: 100%;
}
.bar-highlight {
    background-color: #286983;

}
