
#tasklist {
    overflow-y: scroll;
    max-height: 80%;
    height: 80%;
    flex-grow: 2;
}


.task-click:hover {
    background-color: var(--bg-focus);
}
.task-delete:hover {
    background-color: var(--dark-blue);
}
.task-refresh:hover {
    background-color: var(--dark-blue);
}
.task-title {
    font-family: Georgia, serif;
    font-size: 1.6em;
    border: none;
    background-color: inherit;
}

.task-description {
    padding-top: 1em;

    /*color: var(--fg-muted);*/
    font-size: 1.1em;
}

.task {
    /*background-color: white;*/
    margin: 0.3em 0.7em ;
    border-radius: 0.5em;
    padding: 0.2em;
    display: flex;
    
}
.task-click {
    background-color: var(--bg-overlay); 
    color: var(--fg-primary);
    width: 100%;
    margin: 0;
    text-align: left;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
}
.task-delete {
    background-color: var(--blue); 
    border: none;
}
.task-refresh {
    background-color: var(--blue); 
    border: none;
}
.refresh-img, .x-img{
    width: 1em;
    height: 1em;
    fill: blue;
}


#taskvalue {
    padding-top: 0;
    padding-bottom: 0;
}
.task-done {
    text-decoration: line-through;
    color: var(--fg-disable);
}
