
#tasklist {
    overflow-y: scroll;
    max-height: 80%;
    height: 80%;
    flex-grow: 2;
}

.task-preview {
    background-color: #fffaf3;
    /*
    border: solid;
    border-width: 1px;
    border-color: #575279;
    */
    margin: 0.7em;
    /*display: flex;*/
    /*flex-direction: column;*/
    flex: 1 1 0;
}

.task-click:hover {
    background-color: #dfdad9;
}
.task-delete:hover {
    background-color: #b4637a;
}
.task-refresh:hover {
    background-color: #286983;
}
.task-title {
    font-family: Georgia, serif;
    font-size: 1.6em;
    color: #575279;
    border: none;
    background-color: inherit;
}

.task-description {
    padding-top: 1em;

    color: #797593;
    font-size: 1.1em;
}

.task {
    /*background-color: white;*/
    margin: 0.3em 0.7em ;
    border-radius: 0.5em;
    padding: 0.2em;
    display: flex;
    
}
.task-click {
    background-color: #f2e9e1; 
    color: #575279;
    width: 100%;
    margin: 0;
    text-align: left;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
}
.task-delete {
    background-color: #d7827e; 
    border: none;
}
.task-refresh {
    background-color: #56949f; 
    border: none;

}


#taskvalue {
    padding-top: 0;
    padding-bottom: 0;
}
.task-done {
    text-decoration: line-through;
    color: #9893a5;
}
