
body {
    color: var(--fg-primary);
}
html,body { 
    height:100%; 
    margin: 0;
    background-color: var(--bg-primary);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fg-primary);
}

.rounded {
    box-shadow: -1px 1px 12px -5px rgba(0,0,0,0.75);
    background-color: var(--bg-surface);
    border-radius: 0.5em;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7em;
    /*height: 20em;*/
    width: 20em;
}
input, label {
    display:block;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.textinput {
    border-width: 2px;
    border-color: var(--fg-primary);
    font-size: 1.1em;
    background-color: var(--bg-surface);
    color: inherit;
}
.graveller {
    font-size: 3em;
    margin-bottom: 0.05em;
}
.login-button {
    width: 100%;
    border: dotted;
    font-size: 1.1em;
    background-color: var(--bg-primary);
    color: inherit;
    
}
.login-button:hover {
    background-color: var(--bg-focus);
}

a {
    color: var(--blue);
}

.icon-button { 
    position: absolute;
    background-color: var(--blue); 
    border: none;
    border-width: 2px;
    border-color: var(--fg-primary);
    color: inherit;
}
