

.reward-click {
    background-color: var(--dark-blue);
    display: flex;
    /*background-color: inherit;*/
    height: 10%;
}
.reward-expensive {
    background-color: var(--fg-disable); 
    color: var(--fg-primary);
}
.reward-click:hover {
    background-color: var(--blue);
}

.reward-text {
    color: var(--white);
}
.reward-completions {
    font-size: 5vh;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--bg-primary-transparent);
}
.reward-text-light {
    /*color: #575279aa;*/
    color: var(--bg-primary);
}
.trophy-img {
    width: 5%;
}
.reward-li {
    height: 100%;
}
#rewardlist {
    overflow-y: scroll;
    max-height: 70%;
}


@media (max-width: 768px) {
    #rewardlist {
        max-height: 100%;
    }
}
